body {
    margin: 0;
    overflow-x: hidden;
    color: white;
    font-family: sans-serif;
    transition: background-color 0.8s ease; /* Smooth fade between sections */
}

/* Background Navy Tones */
.bg-intro { background-color: #405a7c; }
.bg-education { background-color: #2b2f55; }
.bg-projects { background-color: #6e2932; }

#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
    z-index: 100;
    /* background: rgba(15, 23, 42, 0.8); */
    backdrop-filter: blur(5px);
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.3s;
}

.navbar a:hover { opacity: 1; color: #e29912; }

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.content { pointer-events: auto; }
